.filterContainerBg{
    background-color: #0B0E27;
}

.addYoutuberContainer{
    background-color: aliceblue;
}

.tableImg{
    text-align: center;
    width: 200px;
}

.profileImg{
    width:200px;
    height: 200px;
}

.admin-bg{
    background-color: #0B0E27;
}